p{
    color: rgb(113, 4, 95);
}
.para{
    ccolor: rgb(255, 94, 0);
    font-size: auto;
    font-weight: auto;
   font-family: "Science Gothic", sans-serif;
    font-style: italic;
    text-decoration: underline;
}
div{
    height:auto;
    width: 50%;
    border-radius: 55px;
    padding: 50px;
    margin:5px 10px 15px 25px;
    background-image: url();
   box-shadow: 15px 10px 15px gold;
}
div:hover{
    background-color: rgb(240, 217, 1);
}
.para-two{
    margin:5px; 
    padding:5px;
}