p{
    color: rgb(113, 4, 95);
}
.para{
    color: rgb(255, 94, 0);
}
div{
    height:auto;
    width: 50%;
    border-radius: 55px;
    padding: 50px;
    margin:5px 10px 15px 25px;
    background-color: rgb(10, 193, 117);
}
div:hover{
    background-color: rgb(240, 217, 1);
}
.para-two{
    margin:5px; 
    padding:5px;
}